/* Main CSS file for Fager Al-Qusiar site */


/* GLOBAL CONFIGS & VARIABLES  */

@font-face {
    font-family: 'Kalligraaf Arabic';
    src: url('./assets/font/Kalligraaf.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalligraaf Arabic', sans-serif;
    line-height: 1.7rem;
}


:root {
    --primary-color: #000D80;
    --secondary-color: #E8BF66;
    --light-secondary-color: #FEF8E2;
    /* mobile phone screen size */
    --darkred-color: #5F1712;
    --small-screen: 600px;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.text-with-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100% !important;
    }

    .text-with-icon {
        justify-content: center;
    }
}


/* NAVBA  */

nav {
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 2vw;
    box-shadow: 1px 1px 1px lightgray;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav div:nth-child(2) {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav div:first-child,
nav div:last-child {
    width: 25vw;
}

nav div a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 1.1rem;
    height: 50%;
    border-bottom: solid 2px transparent;
    transition: 0.5s;
    text-shadow: 0 0 5px #ffffff;
}

nav div a:hover {
    border-bottom: 2px solid var(--primary-color);
    transition: 0.5s;
}

nav div:nth-child(3) {
    justify-content: flex-end;
    text-align: right;
}

.nav-btn {
    display: none;
    height: 30px;
    transition: 0.1s;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 3% 10%;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    nav div:first-child {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    nav div:nth-child(2),
    nav div:nth-child(3) {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 5vh;
    }

    .nav-open-container {
        height: 100vh;
    }

    .nav-open-item {
        display: flex !important;
    }

    .rotate-btn {
        transform: rotate(180deg);
    }

    nav div a {
        margin: 2vh;
        text-align: center;
    }

    .nav-btn {
        display: block;
        cursor: pointer;
    }
}

/* INTRODUCARY SECTION */



.logo {
    height: 100%;
}


.donation-btn {
    padding: 0.2rem 1rem;
    margin: 3% 0;
    font-size: 1rem;
    width: 7rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
}

.donation-btn:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}

.header-btn {
    margin-left: 80%;
}

.introductory-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    text-align: right;
    line-height: 2rem;
    /* background: linear-gradient( 230deg , var(--light-secondary-color) , #FFFFFF 40%) ; */
}



.introductory-section div {
    width: 40vw;

}

.logo-container img {
    height: 70vh
}

.title {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin: 5vh 0;
}

.date {
    font-size: 2rem;
    font-weight: bold;
    margin: 2vh 0;
    color: var(--secondary-color);
}

.location a {
    color: var(--primary-color);
}

.date-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.question-box {
    background-color: rgba(211, 211, 211, 0.1);
    border-radius: 5px;
    width: 60vw;
}


.introduction-content {
    color: var(--primary-color);
    margin-top: 2rem;
    margin: 3% 0;
    /* font-style: italic; */
    font-weight: lighter;

}



@media (max-width: 768px) {

    .introductory-section {
        flex-direction: column;
        text-align: center;
        height: 100vh;
    }

    .introductory-section div {
        width: 100%;
    }


    .logo-container {
        width: 100%;
    }

    .logo-container img {
        height: 40vh;
    }

    .introductory-section .textual-introduction {
        width: 90%;
    }

    .title {
        font-size: 1.5rem;
        margin: 1vh 0;
    }

    .campign-history {
        justify-content: center;
    }
}


/* GALLERY */




.gallery-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh;
}

.gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-track {
    display: flex;
    gap: 0.2%;
    height: 100%;
    width: max-content;
    /* important */
}

.gallery-item {
    width: 30vw;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

/* Left fade */
.gallery-wrapper::before,
.gallery-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 3%;
    /* adjust width of blur area */
    height: 100%;
    pointer-events: none;
    /* don't block hover/pause */
    z-index: 20;
}

/* Left side */
.gallery-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Right side */
.gallery-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.gallery-2 img {
    opacity: 0.2;
    /* filter: grayscale(1); */
    transition: 0.5s;
}

.gallery-2 div img:hover {
    opacity: 1;
    filter: grayscale(0);
    transition: 0.5s;
}

.gallery-2 {
    height: 30vh;
}



@media (max-width: 768px) {
    .gallery-wrapper {
        height: 30vh;
        margin-top: 10vh;
    }

    .gallery-2 {
        margin: -2vh 0 15vh 0;
    }

    .gallery-item {
        width: 40vh;
    }
}


/* EXTRA INFORMATIONS */

.info-section {
    padding: 7% 10% 5% 15%;
    margin: 0px;
}

.extra-info {
    background: rgba(255, 255, 255, 0.641);
    backdrop-filter: blur(10px);
    width: 80%;
    margin: 0 auto;
    padding: 2.5%;
    color: var(--primary-color);
    text-align: center;
    border-radius: 10px;
    font-weight: lighter;
}



.extra-info h1:nth-child(2) {
    margin: 3vh;
    color: var(--darkred-color);
}


.extra-info>p strong {
    /* font-style: italic; */
    color: var(--darkred-color);
    font-size: 2rem;
}

@media (max-width: 768px) {
    .extra-info {
        padding: 5vh 0;
    }

    .info-section {
        padding: auto 0;
        margin: 0px !important;
    }
}




/* VISION */

.campign-vision {
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    padding-top: 10vh;
}

.campign-vision h1 {
    margin: 3vh;
    color: var(--darkred-color)
}

.goals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 2%;
    height: 300px;
    text-align: center;
    /* border: 2px dashed var(--light-secondary-color); */
    background-color: #000d8023;
    border-radius: 10px;
    margin-top: 5vh;
    backdrop-filter: blur(10px);
}

.goal:hover {
    animation: breathAnimation 3s infinite linear;
}

@keyframes breathAnimation {
    0% {
        background-color: #000d8023;
        ;
    }

    50% {
        background-color: #000d8060;
    }

    100% {
        background-color: #000d8023;
        ;
    }
}

.goal h3 {
    font-weight: lighter;
}

.goal h3 strong {
    color: var(--darkred-color);
    font-size: 3rem;
    font-weight: bolder;
    margin: 5vh 0;
}

.goal p {
    font-weight: bolder;
}



.goal .description {
    margin: 3vh 0 0 0;
}

.goal .description strong {
    color: var(--darkred-color);
}

@media (max-width: 768px) {

    .campign-vision {
        margin: -20vh auto;
    }

    .info-section {
        padding: 5% 5%;
        margin-top: -10vh;
    }

    .goals {
        flex-direction: column;
    }

    .goal {
        width: 90%;
    }

}

/* PAYMENTS  */


.payment {
    margin: 20vh auto;
    width: 80%;
    text-align: center;
}

.payment h1 {
    color: var(--darkred-color);
    margin: 5vh 0;
}

.payment p {
    font-weight: bolder;
    color: var(--primary-color);
    width: 100% !important;
    margin: 0 auto;
}


.payment .method p {
    font-weight: bolder;
    color: var(--darkred-color);

}



.payment-methods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 10vh auto;
}


.payment-methods .method {
    width: 30%;
    padding: 3%;
    margin: 2vh;
    box-shadow: 1px 1px 5px #000d80a3;
    background-color: #000d801a;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
}

.payment-methods div img {
    width: 50%;
}

.payment-methods div button {
    margin-top: 2vh;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    color: var(--primary-color);
    font-weight: bolder;
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
}

.payment-methods div button:hover {
    background-color: var(--primary-color);
    transition: 0.5s;
    color: white;
}

.pop-up {
    background: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    width: 60vh;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    border-radius: 5px;
    padding: 10%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
    z-index: 1;
}

.copy-icon {
    width: 20px !important;
    height: 20px;
}

.copy-btn {
    padding: 8px 14px;
    background: white;
    border-radius: 6px;
    border: solid 1px var(--darkred-color);
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn:hover {
    background: #5f17123a;
}

@media (max-width: 768px) {
    .payment {
        margin: 30vh auto;
    }

    .payment p {
        width: 70% !important;
    }

    .payment-methods .method {
        width: 80%;
    }

    .pop-up {
        width: 75vw;
        height: 70vw;
        margin: 0 auto;
        box-shadow: 1px 1px 5px #ffffff;
    }
}

/* FOOTER */

.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2vh 0 0 0;
    font-size: 0.9rem;
    font-weight: lighter;
}

.footer img {
    width: 20px;
}

.footer p {
    width: 50%;
    margin: 1vh auto 3vh auto;
}


.connect-number {
    padding: 2%;
    text-decoration: underline white 1px;
    font-size: 1.2rem;
}

.footer img {
    width: 15%;
    margin-bottom: 5vh;
}


.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    margin-top: 5vh;
    background-color: white;
    width: 100%;
    height: auto;
}

.social-media .media {
    background-size: cover;
    border-radius: 50%;
    transition: 0.3s;
    padding: 3%;
}

.social-media .media img {
    width: 25px;
    margin: 0 0 -1vh 0;
    transition: 0.3s;
}

.social-media .media img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}